<h1>Editing journal</h1>

<%= render "form", journal: @journal %>

<br>

<div>
  <%= link_to "Show this Journal", user_journal_path([@user, @journal]) %> |
  <%= link_to "Back to Journals", user_journals_path(@user) %>
</div>
