<p style="color: green"><%= notice %></p>

<h1>Journals</h1>

<div id="journals">
  <% @journals.each do |journal| %>
    <%= render journal %>
    <p>
      <%= link_to journal.title, user_journal_path(session[:user_id], journal.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New Journal", new_user_journal_path(@user.id) %>
